<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/css/bootstrap-lightbox.min.css">
		
		<script src="libs/jquery-1.9.1.js"></script>
		<script src="libs/underscore-1.4.4.js"></script>
		<script src="libs/backbone-1.0.0.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="bootstrap/js/bootstrap-lightbox.min.js"></script>
		
		
		
		<script type="text/template" id="tpl_header">
			
			<div class="navbar navbar-default navbar-fixed-top">
				
				<div class="container">
					
					<div class="navbar-header">

						<a href="../" class="navbar-brand" style="height:82px;"><img src="img/logo/logosmall.png"/><span style="margin-left: 10px;">Numbers & Pictures Ltd</span></a>
							
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					
					</div>
					
					<div class="navbar-collapse collapse" id="navbar-main">
						
						<ul class="nav navbar-nav" style="margin-top: 19px;">
			   
							<li>
							  <a href="#">Home</a>
							</li>
							
							<li>
							  <a href="#work">My work</a>
							</li>
							
							<li>
							  <a href="#other">Other projects</a>
							</li>
							
							<li>
							  <a href="#contact">My resum&eacute; / contact</a>
							</li>
			  
						</ul>

					</div>
					
				</div>
				
			</div>

		</script>
		
		
		
		
		
		<script type="text/template" id="tpl_buttons">
			
			<div class="bs-docs-section">
			
				<div class="row">
					
					<div class="col-lg-6">

						<div style="margin-bottom: 15px;">
						
							<div class="btn-toolbar bs-component" style="margin: 0;">
					  
								<div class="btn-group">
									
									<button type="button" class="btn btn-primary">Primary</button>
									
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
						  
									<ul class="dropdown-menu">
										
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									
									</ul>
								
								</div>

							</div>
						
						</div>

					</div>

				</div>
			
			</div>

		</script>
		
		
		
		<script type="text/template" id="tpl_intro">
			
			<div class="row">
					
					<div class="col-lg-1">
					</div>
					
					<div class="col-lg-7" style="padding: 15px 15px 0 15px;">
						
						<div class="bs-component" style="padding-top: 5px;">
							
							<div class="alert alert-dismissable alert-success">
								
								<p style="font-size:15px;">
									Welcome to numbersandpictures.com!
									
									I'm John Grindall and I develop educational software.
								
									Originally from Leicester in the UK, I spent four years at Cambridge University where I studied maths at Fitzwilliam College Cambridge and I now live in Bangalore, India.
									
								</p>
									
								<p style="font-size:15px;">
								
									I have worked in the field since 2002 and my clients include Scholastic publishing group, Sherston Education,
								
									Sam Learning and HeyMath! 
								
								</p>
								
							</div>
					
						</div>
							
					</div>
					
					<div class="col-lg-2" style="padding: 15px 15px 0 15px;">
							
						<span style="float: right; margin-left: 20px;">
							<img src="img/logo/dog.png" width="150">
						</span>
							
					</div>
					
					<div class="col-lg-2">
					</div>
				
				</div>
			
		</script>
		
		
		
		
		<script type="text/template" id="tpl_workbox">
			
			<div class="row" style="padding-top:40px;">
					
				<div class="col-lg-5">
						
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						
						<div class="carousel-inner">
							
							<div class="item active">  		<img src="img/slide/hmfs/slide2.png" />					</div>
							<div class="item">  		<img src="img/slide/datahandling/slide4.png" />			</div>
							<div class="item">  		<img src="img/slide/fastest/slide2.png" />				</div>
							<div class="item">  		<img src="img/slide/hottopics/slide2.png" />			</div>
							<div class="item">			<img src="img/slide/hmfs/slide4.png" />					</div>
							<div class="item">  		<img src="img/slide/mathsreaders/slide1.png" />			</div>
							<div class="item">  		<img src="img/slide/rtm/slide4.png" />					</div>
							<div class="item">			<img src="img/slide/rtm/slide6.png" />					</div>
							<div class="item">			<img src="img/slide/hmfs/slide8.png" />					</div>
							<div class="item">  		<img src="img/slide/rtm/slide7.png" />					</div>
							<div class="item">			<img src="img/slide/createanddisplay/slide2.png" />		</div>
							<div class="item">  		<img src="img/slide/rtm/slide8.png" />					</div>
							<div class="item">			<img src="img/slide/maryg/slide3.png" />				</div>
							<div class="item">  		<img src="img/slide/hottopics/slide7.png" />			</div>
							<div class="item">  		<img src="img/slide/hmfs/slide6.png" />					</div>
							<div class="item">			<img src="img/slide/rtm/slide10.png" />					</div>
							<div class="item">			<img src="img/slide/hmfs/slide3.png" />					</div>
							<div class="item">			<img src="img/slide/createanddisplay/slide3.png" />		</div>
							<div class="item">  		<img src="img/slide/rtm/slide11.png" />					</div>
							
							
						</div>
								
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
						
				</div>
					
					
				<div class="col-lg-7">
					
					<div class="panel panel-primary">
					
						<div class="panel-heading">
							<h3 class="panel-title">My work</h3>
						</div>
			
						<div class="panel-body">
							
							<p>
								I have worked in the field since 2002 and my clients include Scholastic publishing group, Sherston Education, Sam Learning and HeyMath! 
							</p>
							
							<p>
								I've worked on a variety of educational software projects, iPad apps, animated lessons, interactivities, games, puzzles and assessment applications.
							</p>
							
							<p>
								I recently finished a two-year contract with an educational software company in Chennai, India and before that I was a freelancer, working on a variety of projects for Scholastic Publishing Group.
							</p>
							
							<p>
								I am particularly interested in maths education and programming and I work in Actionscript, Javascript and Android although I can also develop in Java, HTML5/CSS and PHP.
							</p>
							
							<a href="#work" style="float: right;" class="btn btn-primary">My work  <span class="glyphicon glyphicon-chevron-right"></span></a>
							
						</div>
					
					</div>
					
				</div>
					
			</div>
			
		</script>
		
		
		
		<div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
			<div class='lightbox-content'>
				<img src="img/slide/hmfs/slide1.png">
				<div class="lightbox-caption"><p>Your caption here</p></div>
			</div>
		</div>

		
		
		
		<script type="text/template" id="tpl_aboutbox">
			
			<div class="row" style="padding-top:40px;">
				
				<div class="col-lg-7">
						
					<div class="panel panel-warning">
					
						<div class="panel-heading">
							<h3 class="panel-title">Other projects</h3>
						</div>
			
						<div class="panel-body">
							
							<p>
								I completed an MSc in Software Engineering from the University of Westminster in 2010.
							</p>
					
							<p>
								I am also working on a website <a href="">www.logotacular.com</a>, which is a web application to introduce novices to programming and geometry.  It is based on a programming language
								called Logo, or "Turtle Maths"
							
							</p>
							
							<p>
							
								I have also taught maths as a private tutor, mostly A-Level and IB maths but everything from GCSE up to STEP (the Cambridge University entrance exam for maths).
							</p>
					
							<a href="#work" class="btn btn-warning">Other projects </a>
							
						</div>
					
					</div>
					
				</div>
				
				
				<div class="col-lg-5">
					
					<img src="img/work/S_book1_1.jpg" style="width:90%;"/>
					
				</div>
				
			</div>
			
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_clients">
			
			<div class="row">
					
				<div class="col-lg-3">
				
					<div class="bs-component">
					
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width: 255px;display:block;margin:auto;margin-top:16px;" src="img/schol1.gif" />
							
						</div>
					
					</div>
					
				</div>
				
				<div class="col-lg-2">
				
					<div class="bs-component">
					
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width: 135px;display:block;margin:auto;margin-top: 6px;" src="img/hey.png"  />
							
						</div>
					
					</div>
					
				</div>
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width:145px;display:block;margin:auto;" src="img/schol2.png" />
							
						</div>
						
					</div>
				
				</div>
				
				
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="height:85px;display:block;margin:auto;" src="img/sam.gif"  />
							
						</div>
						
					</div>
				
				</div>
				
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="display:block;margin:auto;height:78px;" src="img/sherston.png" />
							
						</div>
						
					</div>
				
				</div>
				
			</div>
			
		</script>
		
		
		
		
		
		<script type="text/template" id="tpl_footer">
			
			<div class="row">
				
				<div class="col-lg-6">
					
					<div class="bs-component">
				  
						<blockquote>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
							<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
							
						</blockquote>
					
					</div>
			  
				</div>
			 
			</div>
			
			
			<div class="row">
			
				<div class="col-lg-12">
					
					<div class="bs-component">
				  
						<p style="text-align: center;font-size: 85%;">This website is based on the free <a href="http://bootswatch.com/lumen/">Lumen bootstrap theme</a>, uses <a href="http://backbonejs.org/">backbone.js</a>, and is hosted with a <a href="http://nodejs.org/">node.js</a> server on <a href="https://dashboard.heroku.com/apps">heroku.com</a></p>
					
					</div>
			  
				</div>
			 
			</div>
			
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_work">
			
			<div class="page-header" style="margin-top:95px;">
			
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="bs-component">
			
							<h2>Flipbooks</h2>
							
							<a href="img/work/book1_1.jpg" ><img src="img/work/S_book1_1.jpg" class=" thumbsmall"/></a>
							<a href="img/work/book1_2.jpg" ><img src="img/work/S_book1_2.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/book2_1.jpg" ><img src="img/work/S_book2_1.jpg" class=" thumbsmall"/></a>
							<a href="img/work/book2_2.jpg" ><img src="img/work/S_book2_2.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/book3_1.jpg" ><img src="img/work/S_book3_1.jpg" class=" thumbsmall"/></a>
							<a href="img/work/b1.jpg" ><img src="img/work/b1.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/b2.jpg" ><img src="img/work/b2.jpg" class=" thumbsmall"/></a>
							<a href="img/work/b3.jpg" ><img src="img/work/b3.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1">http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1</a>
							
						</div>
					
					</div>
				
				</div>
				
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="bs-component">
				
							<h2>Hot Topics</h2>
			
							<a href="img/work/Clipboard02.jpg" ><img src="img/work/S_Clipboard02.jpg" class=" thumbsmall"/></a>
							<a href="img/work/Clipboard04.jpg" ><img src="img/work/S_Clipboard04.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/Clipboard06.jpg" ><img src="img/work/S_Clipboard06.jpg" class=" thumbsmall"/></a>
							<a href="img/work/Clipboard07.jpg" ><img src="img/work/S_Clipboard07.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/img1.jpg" ><img src="img/work/S_img1.jpg" class=" thumbsmall"/></a>
							<a href="img/work/ht1.jpg" ><img src="img/work/ht1.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							
							<a href="img/work/ht2.jpg" ><img src="img/work/ht2.jpg" class=" thumbsmall"/></a>
							<a href="img/work/ht3.jpg" ><img src="img/work/ht3.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
						
						</div>
						
					</div>
			
				</div>
				
				
				<div class="row">
				
					<div class="col-lg-12">
						
						<div class="bs-component">
			
							<h2>Return to Mechania</h2>
							
							<a href="img/work/large_1.jpg" ><img src="img/work/small_1.jpg" width="200" class=" thumbsmall"/></a>
							<a href="img/work/large_2.jpg" ><img src="img/work/small_2.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/large_3.jpg" ><img src="img/work/small_3.jpg" class=" thumbsmall"/></a>
							<a href="img/work/large_4.jpg" ><img src="img/work/small_4.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/large_5.jpg" ><img src="img/work/small_5.jpg" class=" thumbsmall"/></a>
							<a href="img/work/large_6.jpg" ><img src="img/work/small_6.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
							
							<a href="img/work/large_7.jpg" ><img src="img/work/small_7.jpg" class=" thumbsmall"/></a>
							
							<a href="img/work/large_9.jpg" ><img src="img/work/small_9.jpg" class=" thumbsmall"/></a>
							
							<div class="clear"></div>
			
						</div>
					
					</div>
			
				</div>
			
			
			
			
				<div class="row">
				
					<div class="col-lg-12">
						
						<div class="bs-component">
			
							<h3>Power 4-in-a-row</h3>
			
							<p>Power 4-in-a-row is a native Android app, written in Java.  It is based on Connect 4, but that name
							is copyrighted. It is very similar to Connect 4 with the addition of a yellow power ball that either player can use to complete his/her line</p>
							
							<img src="img/workother/connect4_screen.jpg" width="200"/>
							
							<img src="img/workother/connect4_screen2.jpg"  width="200"/>
							
							<img src="img/workother/connect4_screen3.jpg"  width="200"/>
							
							<div class="clear"></div>
							
							<div class="gitsrc">
								<p><a href="https://github.com/jgrindall/Android-Power-4-in-a-row">Source code (github)</a></p>
							</div>
							
							<div class="gplay">
								<p><a href="https://play.google.com/store/apps/details?id=com.jgrindall.android.connect4&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5qZ3JpbmRhbGwuYW5kcm9pZC5jb25uZWN0NCJd">Find it on Google Play</a></p>
							</div>
							
							<p>Features:</p>
							
							<ul style="margin-left:80px;">
								
								<li>One or two player</li>
								<li>Three levels of difficulty</li>
								<li>Optional powerball</li>
								<li>Native android app</li>
								<li>Undo</li>
								<li>AI</li>
								
							</ul>
			
						</div>
					
					</div>
			
				</div>
			
			
				
				
				
				<div class="row">
				
					<div class="col-lg-12">
						
						<div class="bs-component">
			
							<h2>iChing</h2>
			
							<img src="img/workother/ching1.jpg" width="300"/>
							<img src="img/workother/ching2.jpg"  width="300"/>
							
							<div class="clear"></div>
							
							<div class="gitsrc">
								<p><a href="https://github.com/jgrindall/iChing">Source code (github)</a></p>
							</div>
							
							<div class="gplay">
								<p><a href="https://play.google.com/store/apps/details?id=com.jgrindall.android.connect4&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5qZ3JpbmRhbGwuYW5kcm9pZC5jb25uZWN0NCJd">Find it on Google Play</a></p>
							</div>
			
						</div>
					
					</div>
			
				</div>
			
				<!--<h3>Msc, hottopics, create&display, datahandling, science sims, sam learning, science sims, RTM, heymath</h3>-->
				
			</div>
			

		</script>
		
		
		
		
		
		<script type="text/template" id="tpl_workpage">
		
			<div class="container">
			
				<div class="page-header" style="margin-top:95px;">
				
				</div>
			
			</div>

		</script>

		
		
		
		
		<script type="text/template" id="tpl_homepage">
		
			<div class="container">
				
				<div class="page-header" style="margin-top:95px;">
				
				</div>
			
			</div>

		</script>
		
	
	</head>
	
	
	
	<body>
	
		<script src="js/main-min.js"></script>
		
		<div id="container"></div>
	
	</body>
  
</html>



