<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/css/bootstrap-lightbox.min.css">
		
		<script src="libs/jquery-1.9.1.js"></script>
		<script src="libs/underscore-1.4.4.js"></script>
		<script src="libs/backbone-1.0.0.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="bootstrap/js/bootstrap-lightbox.min.js"></script>
		
		
		<style>
			.container > .page-header{
				margin-top:95px;
			}
			#videos{
				padding-top:40px;
			}
			#intro{
				margin-top:20px;
			}
			#workbox{
				padding-top:40px;
			}
			#intro p{
				font-size:15px;
				text-align:justify;
				margin: 15px;
			}
			#workbox p{
				text-align:justify;
				margin: 10px;
			}
			#videos span.glyphicon{
				font-size: 70px;
				position: absolute;
				top: 50%;
				left: 50%;
				color:#eee;
				opacity:0.5;
				margin-left: -29px;
				margin-top: -38px;
				cursor:pointer;
				cursor:hand;
			}
			#videos span.glyphicon:hover{
				opacity:0.9;
				color:#aaa;
			}
			#videos img, #work img{
				width:100%;
				cursor:pointer;
				cursor:hand;
			}
			#videos #logos img{
				margin-top:8px;
				margin-bottom:8px;
				width:100%;
			}
			#videos #logos img:not(:nth-child(1)),#videos #logos img:not(:nth-child(2)){
				width:80%;
				margin-left:10%;
			}
			
			.navbar .navbar-brand{
				height:82px;
			}
			.navbar .navbar-brand span{
				margin-left: 10px;
			}
			ul.navbar-nav{
				margin-top: 19px;
			}
			#work{
				margin-top:95px;
			}
			#work .col-lg-4 img{
				width:100%;
				margin:10px;
			}
			ul.features li{
				padding:4px;
			}
		</style>
		
		
		<script type="text/template" id="tpl_header">
			
			<div class="navbar navbar-default navbar-fixed-top">
				
				<div class="container">
					
					<div class="navbar-header">

						<a href="#" class="navbar-brand" >
							<img src="img/logo/logosmall.png"/>
							<span>Numbers & Pictures Ltd</span>
						</a>
							
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					
					</div>
					
					<div class="navbar-collapse collapse" id="navbar-main">
						
						<ul class="nav navbar-nav" >
			   
							<li>
							  <a href="#">Home</a>
							</li>
							
							<li>
							  <a href="#work">Portfolio</a>
							</li>
							
							<li>
							  <a href="#other">Other projects</a>
							</li>
							
							<li>
							  <a href="#contact">My resum&eacute; / contact</a>
							</li>
			  
						</ul>

					</div>
					
				</div>
				
			</div>

		</script>
		
		
		
		
		
		<script type="text/template" id="tpl_buttons">
			
			<div class="bs-docs-section">
			
				<div class="row">
					
					<div class="col-lg-6">

						<div>
						
							<div class="btn-toolbar bs-component">
					  
								<div class="btn-group">
									
									<button type="button" class="btn btn-primary">Primary</button>
									
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
						  
									<ul class="dropdown-menu">
										
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									
									</ul>
								
								</div>

							</div>
						
						</div>

					</div>

				</div>
			
			</div>

		</script>
		
		
		
		<script type="text/template" id="tpl_intro">
			
			<div class="row" id="intro">
					
					<div class="col-lg-1">
					</div>
					
					<div class="col-lg-7" style="padding: 15px 15px 0 15px;">
						
						<div class="bs-component" style="padding-top: 5px;">
							
							<div class="alert alert-dismissable alert-success">
								
								<p>
								
									Welcome to numbersandpictures.com!
									
									I'm John Grindall and I develop educational software.
								
									Originally from Leicester in the UK, I spent four years at Cambridge University where I studied maths at Fitzwilliam College Cambridge and I now live in Bangalore, India.
									
								</p>
									
								<p>
								
									I have worked in the field since 2002 and my clients include Scholastic publishing group, Sherston Education,
								
									Sam Learning and HeyMath! 
								
								</p>
								
							</div>
					
						</div>
							
					</div>
					
					<div class="col-lg-2 hidden-xs" style="padding: 15px 15px 0 15px;">
							
						<span style="float: right; margin-left: 20px;">
							<img src="img/logo/dog.png" width="150">
						</span>
							
					</div>
					
					<div class="col-lg-2">
					</div>
				
				</div>
			
		</script>
		
		
		<script type="text/template" id="tpl_videos">
			
			<div id="videos" class="row" >
					
				<div class="col-lg-5">
					
					<a href="https://www.youtube.com/watch?v=2CUSEMMwEDM" target="_blank">
					<img src="img/video/video1.png"/>
					<span class="glyphicon glyphicon-play"></span>
					</a>
					
				</div>
				
				<div class="col-lg-5">
					<a href="https://www.youtube.com/watch?v=oaKW7qtmbX0" target="_blank">
					<img src="img/video/video2.png"/>
					<span class="glyphicon glyphicon-play"></span> 
					
				</div>
				
				<div id="logos" class="col-lg-2">
					
					<img src="img/clients/schol1.gif"/>
					<img src="img/clients/sherston.png"/>
					<img src="img/clients/schol2.png"/>
					<img src="img/clients/hey.png"/>
					 
				
				</div>
				
				
			</div>
			
		</script>
		
		
		
		<script type="text/template" id="tpl_workbox">
			
			<div id="workbox" class="row">
					
				<div class="col-lg-5">
						
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						
						<div class="carousel-inner">
							
							<div class="item active">  	<img src="img/slide/hmfs/slide2.png" />					</div>
							<div class="item">  		<img src="img/slide/datahandling/slide4.png" />			</div>
							<div class="item">  		<img src="img/slide/fastest/slide2.png" />				</div>
							<div class="item">  		<img src="img/slide/hottopics/slide2.png" />			</div>
							<div class="item">			<img src="img/slide/hmfs/slide4.png" />					</div>
							<div class="item">  		<img src="img/slide/mathsreaders/slide1.png" />			</div>
							<div class="item">  		<img src="img/slide/rtm/slide4.png" />					</div>
							<div class="item">			<img src="img/slide/rtm/slide6.png" />					</div>
							<div class="item">			<img src="img/slide/hmfs/slide8.png" />					</div>
							<div class="item">  		<img src="img/slide/rtm/slide7.png" />					</div>
							<div class="item">			<img src="img/slide/createanddisplay/slide2.png" />		</div>
							<div class="item">  		<img src="img/slide/rtm/slide8.png" />					</div>
							<div class="item">			<img src="img/slide/maryg/slide3.png" />				</div>
							<div class="item">  		<img src="img/slide/hottopics/slide7.png" />			</div>
							<div class="item">  		<img src="img/slide/hmfs/slide6.png" />					</div>
							<div class="item">			<img src="img/slide/rtm/slide10.png" />					</div>
							<div class="item">			<img src="img/slide/hmfs/slide3.png" />					</div>
							<div class="item">			<img src="img/slide/createanddisplay/slide3.png" />		</div>
							<div class="item">  		<img src="img/slide/rtm/slide11.png" />					</div>
							
							
						</div>
								
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
						
				</div>
					
					
				<div class="col-lg-7">
					
					<div class="panel panel-primary">
					
						<div class="panel-heading">
							<h3 class="panel-title">Portfolio</h3>
						</div>
			
						<div class="panel-body">
							
							<p>
								I have worked in the field since 2002 and my clients include Scholastic publishing group, Sherston Education, Sam Learning and HeyMath! 
							</p>
							
							<p>
								I've worked on a variety of educational software projects, iPad apps, animated lessons, interactivities, games, puzzles and assessment applications.
							</p>
							
							<p>
								I recently finished a two-year contract with an educational software company in Chennai, India and before that I was a freelancer, working on a variety of projects for Scholastic Publishing Group.
							</p>
							
							<p>
								I am particularly interested in maths education and programming and I work in Actionscript, Javascript and Android although I can also develop in Java, HTML5/CSS and PHP.
							</p>
							
							<a href="#work" style="float: right;" class="btn btn-primary btn-lg">More  <span class="glyphicon glyphicon-chevron-right"></span></a>
							
						</div>
					
					</div>
					
				</div>
					
			</div>
			
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_aboutbox">
			
			<div class="row" style="padding-top:40px;">
				
				<div class="col-lg-7">
						
					<div class="panel panel-warning">
					
						<div class="panel-heading">
							<h3 class="panel-title">Other projects</h3>
						</div>
			
						<div class="panel-body">
							
							<p>
								I completed an MSc in Software Engineering from the University of Westminster in 2010.
							</p>
					
							<p>
								I am also working on a website <a href="">www.logotacular.com</a>, which is a web application to introduce novices to programming and geometry.  It is based on a programming language
								called Logo, or "Turtle Maths"
							
							</p>
							
							<p>
							
								I have also taught maths as a private tutor, mostly A-Level and IB maths but everything from GCSE up to STEP (the Cambridge University entrance exam for maths).
							</p>
					
							<a href="#work" class="btn btn-warning btn-lg">Other projects </a>
							
						</div>
					
					</div>
					
				</div>
				
				
				<div class="col-lg-5">
					
					<img src="img/work/S_book1_1.jpg" style="width:90%;"/>
					
				</div>
				
			</div>
			
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_clients">
			
			<div class="row">
					
				<div class="col-lg-3">
				
					<div class="bs-component">
					
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width: 255px;display:block;margin:auto;margin-top:16px;" src="img/schol1.gif" />
							
						</div>
					
					</div>
					
				</div>
				
				<div class="col-lg-2">
				
					<div class="bs-component">
					
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width: 135px;display:block;margin:auto;margin-top: 6px;" src="img/hey.png"  />
							
						</div>
					
					</div>
					
				</div>
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width:145px;display:block;margin:auto;" src="img/schol2.png" />
							
						</div>
						
					</div>
				
				</div>
				
				
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="height:85px;display:block;margin:auto;" src="img/sam.gif"  />
							
						</div>
						
					</div>
				
				</div>
				
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="display:block;margin:auto;height:78px;" src="img/sherston.png" />
							
						</div>
						
					</div>
				
				</div>
				
			</div>
			
		</script>
		
		
		
		
		
		<script type="text/template" id="tpl_footer">
			
			<div class="row">
			
				<div class="col-lg-12">
					
					<div class="bs-component">
				  
						<p style="text-align: center;font-size: 85%;margin-top:50px;">This website is based on the free <a href="http://bootswatch.com/lumen/">Lumen bootstrap theme</a>, uses <a href="http://backbonejs.org/">backbone.js</a>, and is hosted with a <a href="http://nodejs.org/">node.js</a> server on <a href="https://dashboard.heroku.com/apps">heroku.com</a></p>
						
					</div>
			  
				</div>
			 
			</div>
			
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_work">
			
			<div class="page-header" id="work" >
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="panel panel-success">
					
							<div class="panel-heading">
								<h3 class="panel-title">HeyMath! from Singapore</h3>
							</div>
				
							<div class="panel-body">
								
								
								<div class="col-lg-12">
									<p>
										HeyMath! from Singapore is an iPad app built using backbone.js and wrapped with phonegap/cordova.
									</p>
									
									<p>
										Its purpose is to bring the the internationally successful "Singapore Math" curriculum to the iPad, using colorful animated videos and adaptive practice tests.
										Grades 3 - 8 are covered, each grade containing a number of topics, and each topic containing a suite of animated video lessons and practice questions.
									</p>
										
										
									<p>
										Features:
									</p>

									<ul class="features">
										
										<li><a href="http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1">http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1</a></li>	
										<li>Subscriptions (IAP)</li>	
										<li>Multiuser</li>	
										<li>Search screen</li>	
										<li>Search screen</li>	
										<li>Search screen</li>	
										<li>Search screen</li>	
										<li>Search screen</li>	
									</ul>
									
								</div>
								
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/hmfs/slide1.png" ><img src="img/slide/hmfs/slide1.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hmfs/slide3.png" ><img src="img/slide/hmfs/slide3.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hmfs/slide4.png" ><img src="img/slide/hmfs/slide4.png" /></a>
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/hmfs/slide5.png" ><img src="img/slide/hmfs/slide5.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hmfs/slide7.png" ><img src="img/slide/hmfs/slide7.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hmfs/slide8.png" ><img src="img/slide/hmfs/slide8.png" /></a>
									</div>
								</div>
								
									
								
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="panel panel-danger">
					
							<div class="panel-heading">
								<h3 class="panel-title">fasTest</h3>
							</div>
				
							<div class="panel-body">
							
								<div class="col-lg-12">
									<p>fastTest </p>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/fastest/slide1.png" ><img src="img/slide/fastest/slide1.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/fastest/slide2.png" ><img src="img/slide/fastest/slide2.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/fastest/slide3.png" ><img src="img/slide/fastest/slide3.png" /></a>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/fastest/slide4.png" ><img src="img/slide/fastest/slide4.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/fastest/slide5.png" ><img src="img/slide/fastest/slide5.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/fastest/slide6.png" ><img src="img/slide/fastest/slide6.png" /></a>
									</div>
								</div>
								
								
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="panel panel-primary">
					
							<div class="panel-heading">
								<h3 class="panel-title">Hot Topics</h3>
							</div>
				
							<div class="panel-body">
								
								<div class="col-lg-12">
									<p><a href="http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1">http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1</a></p>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide8.png" ><img src="img/slide/hottopics/slide8.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide2.png" ><img src="img/slide/hottopics/slide2.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide3.png" ><img src="img/slide/hottopics/slide3.png" /></a>
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide7.png" ><img src="img/slide/hottopics/slide7.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide1.png" ><img src="img/slide/hottopics/slide1.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide6.png" ><img src="img/slide/hottopics/slide6.png" /></a>
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide11.png" ><img src="img/slide/hottopics/slide11.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide4.png" ><img src="img/slide/hottopics/slide4.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/hottopics/slide9.png" ><img src="img/slide/hottopics/slide9.png" /></a>
									</div>
								</div>
								
								
								
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="panel panel-warning">
					
							<div class="panel-heading">
								<h3 class="panel-title">Scholastic Create and Display & Data handling</h3>
							</div>
				
							<div class="panel-body">
								
								
								<div class="col-lg-12">
									<p><a href="http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1">http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1</a></p>
								</div>
								
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/datahandling/slide4.png" ><img src="img/slide/datahandling/slide4.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/createanddisplay/slide4.png" ><img src="img/slide/createanddisplay/slide4.png" /></a>
										
									</div>
									<div class="col-lg-4">
										<a href="img/slide/createanddisplay/slide2.png" ><img src="img/slide/createanddisplay/slide2.png" /></a>
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/datahandling/slide3.png" ><img src="img/slide/datahandling/slide3.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/datahandling/slide1.png" ><img src="img/slide/datahandling/slide1.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/datahandling/slide2.png" ><img src="img/slide/datahandling/slide2.png" /></a>
									</div>
								</div>
								
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="panel panel-info">
					
							<div class="panel-heading">
								<h3 class="panel-title">Return to Mechania</h3>
							</div>
				
							<div class="panel-body">
								
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide1.png" ><img src="img/slide/rtm/slide6.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide7.png" ><img src="img/slide/rtm/slide7.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide4.png" ><img src="img/slide/rtm/slide4.png" /></a>
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide12.png" ><img src="img/slide/rtm/slide12.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide13.png" ><img src="img/slide/rtm/slide13.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide1.png" ><img src="img/slide/rtm/slide1.png" /></a>
									</div>
								</div>
								
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide10.png" ><img src="img/slide/rtm/slide10.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide8.png" ><img src="img/slide/rtm/slide8.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/rtm/slide11.png" ><img src="img/slide/rtm/slide11.png" /></a>
									</div>
								</div>
								
								
								
								<div class="col-lg-12">
									<p><a href="http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1">http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1</a></p>
								</div>
								
								
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="panel panel-success">
					
							<div class="panel-heading">
								<h3 class="panel-title">Scholastic Shockwaves</h3>
							</div>
				
							<div class="panel-body">
								
								<div class="col-lg-12">
									<p><a href="http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1">http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1</a></p>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/shockwaves/slide1.png" ><img src="img/slide/shockwaves/slide5.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/shockwaves/slide2.png" ><img src="img/slide/shockwaves/slide2.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/shockwaves/slide4.png" ><img src="img/slide/shockwaves/slide4.png" /></a>
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="col-lg-4">
										<a href="img/slide/shockwaves/slide6.png" ><img src="img/slide/shockwaves/slide6.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/shockwaves/slide5.png" ><img src="img/slide/shockwaves/slide5.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/shockwaves/slide7.png" ><img src="img/slide/shockwaves/slide7.png" /></a>
									</div>
								</div>
								
								
								
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				
				
				
				<div class="row">
			
					<div class="col-lg-12">
						
						<div class="panel panel-danger">
					
							<div class="panel-heading">
								<h3 class="panel-title">Mary Glasgow magazines & Scholastic Maths readers</h3>
							</div>
				
							<div class="panel-body">
								
								<div class="col-lg-12">
									<p><a href="http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1">http://www.amazon.co.uk/Castles-Hot-Topics-Peter-Riley/dp/0439945100/ref=sr_1_fkmr1_3?ie=UTF8&qid=1328909916&sr=8-3-fkmr1</a></p>
								</div>
								
								
								<div class="col-lg-12">
									
									<div class="col-lg-4">
										<a href="img/slide/maryg/slide2.png" ><img src="img/slide/maryg/slide2.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/maryg/slide3.png" ><img src="img/slide/maryg/slide3.png" /></a>
									</div>
									<div class="col-lg-4">
										<a href="img/slide/mathsreaders/slide1.png" ><img src="img/slide/mathsreaders/slide1.png" /></a>
									</div>
								</div>
								
								
								
							</div>
						
						</div>
					
					</div>
				
				</div>
				
			</div>
			

		</script>
		
		
		
		<script type="text/template" id="tpl_otherpage">
		
			<div class="container">
			
				<div class="page-header" >
					
					
				
					<div class="row">
					
						<div class="col-lg-6">
							
							<div class="bs-component">
						  
								<blockquote>
									
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
									<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
									
								</blockquote>
							
							</div>
					  
						</div>
					
					</div>
					
					
					
					<div class="row">
					
						<div class="col-lg-12">
							
							<div class="bs-component">
				
								<h3>Power 4-in-a-row</h3>
				
								<p>Power 4-in-a-row is a native Android app, written in Java.  It is based on Connect 4, but that name
								is copyrighted. It is very similar to Connect 4 with the addition of a yellow power ball that either player can use to complete his/her line</p>
								
								<img src="img/workother/connect4_screen.jpg" width="200"/>
								
								<img src="img/workother/connect4_screen2.jpg"  width="200"/>
								
								<img src="img/workother/connect4_screen3.jpg"  width="200"/>
								
								<div class="clear"></div>
								
								<div class="gitsrc">
									<p><a href="https://github.com/jgrindall/Android-Power-4-in-a-row">Source code (github)</a></p>
								</div>
								
								<div class="gplay">
									<p><a href="https://play.google.com/store/apps/details?id=com.jgrindall.android.connect4&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5qZ3JpbmRhbGwuYW5kcm9pZC5jb25uZWN0NCJd">Find it on Google Play</a></p>
								</div>
								
								<p>Features:</p>
								
								<ul style="margin-left:80px;">
									
									<li>One or two player</li>
									<li>Three levels of difficulty</li>
									<li>Optional powerball</li>
									<li>Native android app</li>
									<li>Undo</li>
									<li>AI</li>
									
								</ul>
				
							</div>
							
						</div>
					
					</div>
					
					
					
					
					
					<div class="row">
					
						<div class="col-lg-12">
							
							<div class="bs-component">
				
								<h2>iChing</h2>
				
								<img src="img/workother/ching1.jpg" width="300"/>
								<img src="img/workother/ching2.jpg"  width="300"/>
								
								<div class="clear"></div>
								
								<div class="gitsrc">
									<p><a href="https://github.com/jgrindall/iChing">Source code (github)</a></p>
								</div>
								
								<div class="gplay">
									<p><a href="https://play.google.com/store/apps/details?id=com.jgrindall.android.connect4&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5qZ3JpbmRhbGwuYW5kcm9pZC5jb25uZWN0NCJd">Find it on Google Play</a></p>
								</div>
				
							</div>
						
						</div>
				
					</div>
				
					<!--flash stuff Msc, science sims, sam learning -->
					
				</div>
			
			</div>

		</script>

		
		
		
		<script type="text/template" id="tpl_workpage">
		
			<div class="container">
			
				<div class="page-header" >
				
				</div>
			
			</div>

		</script>

		
		
		
		
		<script type="text/template" id="tpl_homepage">
		
			<div class="container">
				
				<div class="page-header" >
				
				</div>
			
			</div>

		</script>
		
	
	</head>
	
	
	
	<body>
	
		<script src="js/main-min.js"></script>
		
		<div id="header"></div>
		<div id="container"></div>
		<div id="footer"></div>
		
	</body>
  
</html>



