<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Numbers & Pictures Ltd</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css">
		
		<script src="libs/jquery-1.9.1.js"></script>
		<script src="libs/underscore-1.4.4.js"></script>
		<script src="libs/backbone-1.0.0.js"></script>
		<script src="libs/jquery.scrollTo.min.js"></script>
		
		<script src="bootstrap/js/bootstrap.min.js"></script>
		
		
		<script type="text/template" id="tpl_header">
			
			<div class="navbar navbar-default navbar-fixed-top">
				
				<div class="container">
					
					<div class="navbar-header">

						<a href="#" class="navbar-brand" >
							<img src="img/logo/logosmall.png"/>
							<span>Numbers & Pictures Ltd</span>
						</a>
							
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					
					</div>
					
					<div class="navbar-collapse collapse" id="navbar-main">
						
						<ul class="nav navbar-nav" >
			   
							<li>
							  <a href="#">Home</a>
							</li>
							
							<li class="dropdown">
							  <a class="dropdown-toggle" data-toggle="dropdown" href="#work" id="portfolio">Portfolio <span class="caret"></span></a>
								<ul class="dropdown-menu" aria-labelledby="portfolio">
									<li><a href="#work/1">HeyMath! from Singapore</a></li>
									<li><a href="#work/2">fasTest</a></li>
									<li><a href="#work/3">HotTopics</a></li>
									<li><a href="#work/4">Create and Display / Data Handling</a></li>
									<li><a href="#work/5">Return to Mechania</a></li>
									<li><a href="#work/6">Shockwaves</a></li>
									<li><a href="#work/7">Mary Glasgow magazines & Maths Readers</a></li>
								</ul>
							</li>
							
							<li>
							  <a href="#other">Other projects</a>
							</li>
							
							<li>
							  <a href="#contact">My resum&eacute; / contact</a>
							</li>
							
						</ul>

					</div>
					
				</div>
				
			</div>

		</script>
		
		
		
		
		
		<script type="text/template" id="tpl_intro">
			
			<div class="row" id="intro">
					
					<div class="col-lg-1">
					</div>
					
					<div class="col-lg-7" style="padding: 15px 15px 0 15px;">
						
						<div class="bs-component" style="padding-top: 5px;">
							
							<div class="alert alert-dismissable alert-success">
								
								<p>
								
									Welcome to numbersandpictures.com!
									
									I'm John Grindall and I develop educational software.
								
									Originally from Leicester in the UK, I spent four years at Cambridge University where I studied maths at Fitzwilliam College Cambridge and I now live in Bangalore, India.
									
								</p>
									
								<p>
								
									I have worked in the field since 2002 and my clients include Scholastic publishing group, Sherston Education,
								
									Sam Learning and HeyMath! 
								
								</p>
								
							</div>
					
						</div>
							
					</div>
					
					<div class="col-lg-2 hidden-xs" style="padding: 15px 15px 0 15px;">
							
						<span style="float: right; margin-left: 20px;">
							<img src="img/logo/dog.png" width="150">
						</span>
							
					</div>
					
					<div class="col-lg-2">
					</div>
				
				</div>
			
		</script>
		
		
		<script type="text/template" id="tpl_videos">
			
			<div id="videos" class="row" >
					
				<div class="col-lg-5">
					
					<a href="https://www.youtube.com/watch?v=2CUSEMMwEDM" target="_blank">
					<img src="img/video/video1.png"/>
					<span class="glyphicon glyphicon-play"></span>
					</a>
					
				</div>
				
				<div class="col-lg-5">
					<a href="https://www.youtube.com/watch?v=oaKW7qtmbX0" target="_blank">
					<img src="img/video/video2.png"/>
					<span class="glyphicon glyphicon-play"></span> 
					
				</div>
				
				<div id="logos" class="col-lg-2">
					
					<img src="img/clients/schol1.gif"/>
					<img src="img/clients/sherston.png"/>
					<img src="img/clients/schol2.png"/>
					<img src="img/clients/hey.png"/>
					 
				
				</div>
				
				
			</div>
			
		</script>
		
		
		
		<script type="text/template" id="tpl_workbox">
			
			<div id="workbox" class="row">
					
				<div class="col-lg-5">
						
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						
						<div class="carousel-inner">
							
							<div class="item active">  	<img src="img/slide/hmfs/slide2.png" />					</div>
							<div class="item">  		<img src="img/slide/datahandling/slide4.png" />			</div>
							<div class="item">  		<img src="img/slide/fastest/slide2.png" />				</div>
							<div class="item">  		<img src="img/slide/hottopics/slide2.png" />			</div>
							<div class="item">			<img src="img/slide/hmfs/slide4.png" />					</div>
							<div class="item">  		<img src="img/slide/mathsreaders/slide1.png" />			</div>
							<div class="item">  		<img src="img/slide/rtm/slide4.png" />					</div>
							<div class="item">			<img src="img/slide/rtm/slide6.png" />					</div>
							<div class="item">			<img src="img/slide/hmfs/slide8.png" />					</div>
							<div class="item">  		<img src="img/slide/rtm/slide7.png" />					</div>
							<div class="item">			<img src="img/slide/createanddisplay/slide2.png" />		</div>
							<div class="item">  		<img src="img/slide/rtm/slide8.png" />					</div>
							<div class="item">			<img src="img/slide/maryg/slide3.png" />				</div>
							<div class="item">  		<img src="img/slide/hottopics/slide7.png" />			</div>
							<div class="item">  		<img src="img/slide/hmfs/slide6.png" />					</div>
							<div class="item">			<img src="img/slide/rtm/slide10.png" />					</div>
							<div class="item">			<img src="img/slide/hmfs/slide3.png" />					</div>
							<div class="item">			<img src="img/slide/createanddisplay/slide3.png" />		</div>
							<div class="item">  		<img src="img/slide/rtm/slide11.png" />					</div>
							
							
						</div>
								
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
						
				</div>
					
					
				<div class="col-lg-7">
					
					<div class="panel panel-primary">
					
						<div class="panel-heading">
							<h3 class="panel-title">Portfolio</h3>
						</div>
			
						<div class="panel-body">
							
							<p>
								I have worked in the field since 2002 and my clients include Scholastic publishing group, Sherston Education, Sam Learning and HeyMath! 
							</p>
							
							<p>
								I've worked on a variety of educational software projects, iPad apps, animated lessons, interactivities, games, puzzles and assessment applications.
							</p>
							
							<p>
								I recently finished a two-year contract with an educational software company in Chennai, India and before that I was a freelancer, working on a variety of projects for Scholastic Publishing Group.
							</p>
							
							<p>
								I am particularly interested in maths education and programming and I work in Actionscript, Javascript and Android although I can also develop in Java, HTML5/CSS and PHP.
							</p>
							
							<a href="#work" style="float: right;" class="btn btn-primary btn-lg">More  <span class="glyphicon glyphicon-chevron-right"></span></a>
							
						</div>
					
					</div>
					
				</div>
					
			</div>
			
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_other1">
			
			<div class="row">
				
				<div class="col-lg-7">
						
					<div class="panel panel-warning">
					
						<div class="panel-heading">
							<h3 class="panel-title">Other projects</h3>
						</div>
			
						<div class="panel-body">
							
							<p>
								I completed an MSc in Software Engineering from the University of Westminster in 2010.
							</p>
					
							<p>
								I am also working on a website <a href="">www.logotacular.com</a>, which is a web application to introduce novices to programming and geometry.  It is based on a programming language
								called Logo, or "Turtle Maths"
							
							</p>
							
							<p>
							
								I have also taught maths as a private tutor, mostly A-Level and IB maths but everything from GCSE up to STEP (the Cambridge University entrance exam for maths).
							</p>
					
							<a href="#work" class="btn btn-warning btn-lg">Other projects </a>
							
						</div>
					
					</div>
					
				</div>
				
				
				<div class="col-lg-5">
					
					<img src="img/work/S_book1_1.jpg" style="width:90%;"/>
					
				</div>
				
			</div>
			
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_clients">
			
			<div class="row">
					
				<div class="col-lg-3">
				
					<div class="bs-component">
					
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width: 255px;display:block;margin:auto;margin-top:16px;" src="img/schol1.gif" />
							
						</div>
					
					</div>
					
				</div>
				
				<div class="col-lg-2">
				
					<div class="bs-component">
					
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width: 135px;display:block;margin:auto;margin-top: 6px;" src="img/hey.png"  />
							
						</div>
					
					</div>
					
				</div>
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="width:145px;display:block;margin:auto;" src="img/schol2.png" />
							
						</div>
						
					</div>
				
				</div>
				
				
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="height:85px;display:block;margin:auto;" src="img/sam.gif"  />
							
						</div>
						
					</div>
				
				</div>
				
				
				<div class="col-lg-2">
				
					<div class="bs-component">
						
						<div style="display: block;padding:5px;">
							
							<img class=" trans" style="display:block;margin:auto;height:78px;" src="img/sherston.png" />
							
						</div>
						
					</div>
				
				</div>
				
			</div>
			
		</script>
		
		
		
		
		
		<script type="text/template" id="tpl_footer">
			
			<div class="row" >
			
				<div class="col-lg-12">
					
					<div class="bs-component">
				  
						<p >This website is based on the free <a href="http://bootswatch.com/lumen/">Lumen bootstrap theme</a>, uses <a href="http://backbonejs.org/">backbone.js</a>, and is hosted with a <a href="http://nodejs.org/">node.js</a> server on <a href="https://dashboard.heroku.com/apps">heroku.com</a></p>
						
					</div>
			  
				</div>
			 
			</div>
			
		</script>
		
		
		
		<script type="text/template" id="tpl_work1">
			
			<div class="row">
			
				<div class="col-lg-12">
					
					<div class="panel panel-success">
				
						<div class="panel-heading">
							<h3 class="panel-title">HeyMath! from Singapore</h3>
						</div>
			
						<div class="panel-body">
							
							<div class="col-lg-12">
								<p>
									HeyMath! from Singapore is an iPad app built using backbone.js and wrapped with phonegap/cordova.
								</p>
								
								<p>
									Its purpose is to bring the the internationally successful "Singapore Math" curriculum to the iPad, using colorful animated videos and adaptive practice tests.
									Grades 3 - 8 are covered, each grade containing a number of topics, and each topic containing a suite of animated video lessons and practice questions.
								</p>
								
							</div>
							
							<div class="col-lg-7">
							
								<ul class="features">
									
									<li>Core MVC framework - backbone.js</li>
									<li>Built using less, fontAwesome, ant, and version control by git</li>
									<li>One code-base with polymorphism for both web and iPad versions</li>	
									<li>Responsive design</li>
									<li>Multiuser (4 users)</li>
									<li>Search screen</li>
									<li>In App Purchases (non-renewing subscriptions, using a <a href="https://github.com/j3k0/PhoneGap-InAppPurchase-iOS" target="_blank">phonegap plugin</a>)</li>	
									<li>I did not create the videos or practice questions</li>	
									<li>I gave specifications for, but did not code the backend API (Java)</li>	
									<li>My basic backbone.js structure is found here</li>	
									<li><a href="https://itunes.apple.com/us/app/heymath!-from-singapore/id723299509?mt=8" target="_blank">Available on the Apple App Store</a></li>
									
								</ul>
								
							</div>
							
							<div class="col-lg-5">
							
								<div class="bs-component" style="margin-top:30px;">
								  
									<blockquote>
										
										<p>Educational software company HeyMath! today announced the launch of "HeyMath! from Singapore"&hellip; HeyMath!, an official Partner of the Academy of Singapore Teachers, with 12 years of experience working with some of the top schools in Singapore, brings to the iPad a large video lesson bank and adaptive practice modules for each topic</p>
										<small><a href="http://www.prlog.org/12264344-heymath-brings-singapores-highly-successful-math-curriculum-to-the-ipad.html" target="_blank">http://www.prlog.org</a></small>
										
									</blockquote>
									
								</div>
								
								<a href="https://itunes.apple.com/us/app/heymath!-from-singapore/id723299509?mt=8" target="_blank"><img style="width:160px;" src="img/logo/app_store_badge.png"/></a>
							
							</div>
							
							<div class="col-lg-12">
								
								<div class="col-lg-4">
									<a href="img/slide/hmfs/slide1.png" ><img src="img/slide/hmfs/slide1.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hmfs/slide3.png" ><img src="img/slide/hmfs/slide3.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hmfs/slide4.png" ><img src="img/slide/hmfs/slide4.png" /></a>
								</div>
								
							</div>
							
							<div class="col-lg-12">
								
								<div class="col-lg-4">
									<a href="img/slide/hmfs/slide5.png" ><img src="img/slide/hmfs/slide5.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hmfs/slide7.png" ><img src="img/slide/hmfs/slide7.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hmfs/slide8.png" ><img src="img/slide/hmfs/slide8.png" /></a>
								</div>
								
							</div>
							
						</div>
					
					</div>
				
				</div>
			
			</div>
				
		</script>
		
		
		
		
		<script type="text/template" id="tpl_work2">
			
			<div class="row">
			
				<div class="col-lg-12">
					
					<div class="panel panel-danger">
				
						<div class="panel-heading">
							<h3 class="panel-title">fasTest</h3>
						</div>
			
						<div class="panel-body">
						
							<div class="col-lg-12">
								<p>fastTest is an adaptive assessment web application, designed for the web and iPad.</p>
								<p>Teachers can create a test using HeyMath!'s external question bank, and issue it to students. They can also send hand-drawn notes at any time.</p>
								<p>Students are given a room number, and they take the test. Teachers see the correct/incorrect responses in real time as the test progresses.</p>
								<p>A report is given to teachers and students at the conclusion of the test.</p>
								
								<ul class="features">
									
									<li>Core MVC framework - backbone.js</li>
									<li>Built using jQuery Mobile for the UI, less, fontAwesome and version control by git</li>
									<li>Minimal jQM theme for performance on slower devices</li>
									<li>Responsive design, designed for cheaper android tablets as well as the iPad.</li>
									<li>Uses <a href="http://intridea.github.io/sketch.js/" target="_blank">sketch.js</a> with Flash (AS3) fallback for the sketching and <a href="http://xaviershay.github.io/tufte-graph/" target="_blank">TufteGraph</a> with <a href="http://g.raphaeljs.com/" target="_blank">Rapha&euml;l</a> fallback for the graphing libraries.</li>
									<li>I helped design but did not code the backend (Java & mongodb)</li>	
									<li><a href="http://www.heymath.com/apps/fastest.html" target="_blank">Find out more!</a></li>
									
								</ul>
								
							</div>
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/fastest/slide1.png" ><img src="img/slide/fastest/slide1.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/fastest/slide2.png" ><img src="img/slide/fastest/slide2.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/fastest/slide3.png" ><img src="img/slide/fastest/slide3.png" /></a>
								</div>
							</div>
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/fastest/slide4.png" ><img src="img/slide/fastest/slide4.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/fastest/slide5.png" ><img src="img/slide/fastest/slide5.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/fastest/slide6.png" ><img src="img/slide/fastest/slide6.png" /></a>
								</div>
							</div>
							
						</div>
					
					</div>
				
				</div>
			
			</div>
		
		</script>
		
		
		
		
		
		
		<script type="text/template" id="tpl_work3">
			
			<div class="row">
		
				<div class="col-lg-12">
					
					<div class="panel panel-primary">
				
						<div class="panel-heading">
							<h3 class="panel-title">Hot Topics</h3>
						</div>
			
						<div class="panel-body">
							
							<div class="col-lg-12">
								
								<p>Hot topics is a set of 9 CD-rom products to accompany a series of school textbooks. 
								
								Users are given a large set of ready-made slides (images, pdf worksheets, graphs, videos and audio files) and can drag and drop to create slideshows.</p>
								
								<p>Ready made slideshows are provided, and each slide can be annotated using drawing and text tools.</p>
								
							</div>
							
							<div class="col-lg-6">
							
								<ul class="features">
									
									<li>Built in AS3, using Flex and PureMVC</li>
									<li>Wrapped with MDM Zinc to create installable executables</li>
									<li>Windows and MacOSX compatible bundles</li>
									<li>Search functionality and editable planning grid</li>
									<li>Print, annotate slideshows and save your slideshows to disk as XML</li>
									
								</ul>
								
							</div>
							
							
							
							<div class="col-lg-6">
							
								<div class="bs-component" style="margin-top:30px;">
								  
									<blockquote>
										
										<p>You'll find a feast of interactive extras: 
											over 100 images, two video clips and a song or piece of music on each CD-ROM. There are interactive slideshows to personalise and use in your own 
											presentations and displays. You can also use the editable planning grid to work out your topic teaching schedule.
											</p>

										<small><a href="http://shop.scholastic.co.uk/series/848" target="_blank">http://shop.scholastic.co.uk/series/848</a></small>
										
									</blockquote>
									
								</div>
							
							</div>
								
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide8.png" ><img src="img/slide/hottopics/slide8.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide2.png" ><img src="img/slide/hottopics/slide2.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide3.png" ><img src="img/slide/hottopics/slide3.png" /></a>
								</div>
							</div>
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide7.png" ><img src="img/slide/hottopics/slide7.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide1.png" ><img src="img/slide/hottopics/slide1.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide6.png" ><img src="img/slide/hottopics/slide6.png" /></a>
								</div>
							</div>
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide11.png" ><img src="img/slide/hottopics/slide11.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide4.png" ><img src="img/slide/hottopics/slide4.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/hottopics/slide9.png" ><img src="img/slide/hottopics/slide9.png" /></a>
								</div>
							</div>
							
						</div>
					
					</div>
				
				</div>
			
			</div>
			
		</script>
		
		
		
		
		<script type="text/template" id="tpl_work4">
			
			<div class="row">
		
				<div class="col-lg-12">
					
					<div class="panel panel-warning">
				
						<div class="panel-heading">
							<h3 class="panel-title">Scholastic Create and Display & Data handling</h3>
						</div>
			
						<div class="panel-body">
							
							<div class="col-lg-12">
								<p>These series extend the source code of the HotTopics project and add extra functionality.</p>
							</div>

							<div class="col-lg-6">
							
								<ul class="features">
									
									<li>Built in AS3, using Flex and PureMVC</li>
									<li>Wrapped with MDM Zinc to create installable executables</li>
									<li>Upload your own images into your slideshows</li>
									<li>Inside any title installed on your computer, you can access all resources from any other title you have installed.</li>
									<li>Suite of graph drawing tools provided in 'Data Handling' to allow users to create bar charts, line graphs, pie charts, pictograms.</li>
									
									
								</ul>
								
							</div>
							
							
							
							<div class="col-lg-6">
							
								<div class="bs-component" style="margin-top:30px;">
								  
									<blockquote>
										
										<p>Each title contains lots of slideshows for the IWB, each based around a particular display or activity&hellip; 
										
										The software includes a full suite of Interactive Whiteboard tools, and lets the teacher adapt the slideshows,
										
										upload their own images, or even create entirely new slideshows of their classwork.
										
										There is a large image bank on each CD-ROM, as well as videos, planning grids,
										
										and activity sheets&hellip;
										
										Importantly, each title in the series adds to the main resource bank&hellip; allowing the user to use resources from every title to
										
										create and display exciting and engaging art presentations to their class!</p>
								

										<small><a href="http://shop.scholastic.co.uk/series/867" target="_blank">http://shop.scholastic.co.uk/series/867</a></small>
										
									</blockquote>
									
								</div>
							
							</div>								
								
							<div class="col-lg-12">
							
								<div class="col-lg-4">
									<a href="img/slide/datahandling/slide4.png" ><img src="img/slide/datahandling/slide4.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/createanddisplay/slide4.png" ><img src="img/slide/createanddisplay/slide4.png" /></a>
									
								</div>
								<div class="col-lg-4">
									<a href="img/slide/createanddisplay/slide2.png" ><img src="img/slide/createanddisplay/slide2.png" /></a>
								</div>
							
							</div>
							
							<div class="col-lg-12">
								
								<div class="col-lg-4">
									<a href="img/slide/datahandling/slide3.png" ><img src="img/slide/datahandling/slide3.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/datahandling/slide1.png" ><img src="img/slide/datahandling/slide1.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/datahandling/slide2.png" ><img src="img/slide/datahandling/slide2.png" /></a>
								</div>
								
							</div>
							
						</div>
					
					</div>
				
				</div>
			
			</div>
			
		</script>
	
	
	
		<script type="text/template" id="tpl_work5">
			
			<div class="row">
		
				<div class="col-lg-12">
					
					<div class="panel panel-info">
				
						<div class="panel-heading">
							<h3 class="panel-title">Return to Mechania</h3>
						</div>
			
						<div class="panel-body">
							
							<div class="col-lg-12">
								<p>Return to Mechania is designed to teach pupils about simple machines and the concept of mechanincal advantage, in a variety of situations,
								covering moments and balancing, different shaped cams, gears and gear ratios, pulleys, pneumatics and linkages.</p>
								
								<p>It is a pure AS3 project and contains 'adventure' and 'explore' modes. In the 'explore' mode pupils are given a machine and can interact with it as if it were real -
								hang weights on a balancing bar, place a cam on a rotating axle, mesh gears together, load puilleys with weights and connect plasic syringes for example.</p>
								
								<p>Each exploration has a stripped down mathematical diagram view to see the essentials of the scenario (forces, weights and lengths for example)</p>
								<p>The 'adventure' mode places each machine in a fantasy world of Mechania, where you must use your knowledge to help the Mechanians recover their kingdom!</p>
							</div>
							
							<div class="col-lg-5">
							
								<ul class="features">
									
									<li>Built in AS3</li>
									<li>Wrapped with MDM Zinc to create installable executables</li>
									<li>Two levels of difficulty</li>
									<li>'Explore' and 'Adventure' mode</li>
									<li>All code and basic graphics created by myself, other artwork outsourced</li>
									
								</ul>
								
							</div>
							
							<div class="col-lg-7">
							
								<div class="bs-component" style="margin-top:30px;">
								  
									<blockquote>
										
										<p>Long ago, the kingdom of Mechania was know throughout the world for its citizens' skill with mechanisms and machines. 

										But Mechania fell upon darker times and the citizens were banished. Now the time has come to return. 

										The citizens will face many dangers along the way,and many puzzles must be solved.

										 Can you help get their machines and mechanisms working again? The future is in the balance, 
										 
										 and in your hands&hellip;  Get your classs cross-curricular problem-solving cogs turning with this exciting new software.</p>
								

										<small><a href="http://shop.sherston.com/subject/other/mech-win-cdrm-1.html" target="_blank">http://shop.sherston.com/subject/other/mech-win-cdrm-1.html</a></small>
										
									</blockquote>
									
								</div>
							
							</div>								
								
							
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide1.png" ><img src="img/slide/rtm/slide6.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide7.png" ><img src="img/slide/rtm/slide7.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide4.png" ><img src="img/slide/rtm/slide4.png" /></a>
								</div>
							</div>
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide12.png" ><img src="img/slide/rtm/slide12.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide13.png" ><img src="img/slide/rtm/slide13.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide1.png" ><img src="img/slide/rtm/slide1.png" /></a>
								</div>
							</div>
							
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide10.png" ><img src="img/slide/rtm/slide10.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide8.png" ><img src="img/slide/rtm/slide8.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/rtm/slide11.png" ><img src="img/slide/rtm/slide11.png" /></a>
								</div>
							</div>
							
							+ video

						</div>
					
					</div>
				
				</div>
			
			</div>
			
		</script>
		
		
		
		<script type="text/template" id="tpl_work6">
		
			<div class="row">
		
				<div class="col-lg-12">
					
					<div class="panel panel-success">
				
						<div class="panel-heading">
							<h3 class="panel-title">Scholastic Shockwaves</h3>
						</div>
			
						<div class="panel-body">
							
							
							<div class="col-lg-12">
								<p>My own flipbook engine, written to create realistic page turning effects on-screen, used to create AS3 versions of paper books.</p>
									
							</div>
														
							<div class="col-lg-5">
							
								<ul class="features">
									
									<li>Built in AS3, using Zinc</li>
									<li>Using <a href="http://www.swftools.org/pdf2swf.html" target="_blank">pdf2swf</a> to convert pdf to swf pages.</li>
									<li>Clickable 'Hot spots' on each page link to interactive components - video, audio, pop up boxes</li>
									<li>Fully searchable by keyword</li>
									<li>Interactive elements to explore</li>
									<li>Full annotation tools such as scribbling, highlighting and adding text boxes</li>
									
								</ul>
								
							</div>
							
							
							<div class="col-lg-7">
							
								<div class="bs-component" style="margin-top:30px;">
								  
									<blockquote>
										
										<p>								
										A digital version of 'Shockwave: Robotics' to share on the white board.
										The whole book on screen with 'turning' pages.
										Perfect for shared reading and digital literacy.
										Embedded videos and animation.
										Information in the book enhanced with pop up images and text.
										Hovver over text to get the glossary definition.
										Links to websites for further information.
										Superb photography to engage your pupils.
										In this book: a fascinating look at the futuristic world of robots.</p>
										

										<small><a href="http://shop.scholastic.co.uk/products/75483" target="_blank">http://shop.scholastic.co.uk/products/75483</a></small>
										
									</blockquote>
									
								</div>
							
							</div>								
								
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/shockwaves/slide1.png" ><img src="img/slide/shockwaves/slide5.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/shockwaves/slide2.png" ><img src="img/slide/shockwaves/slide2.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/shockwaves/slide4.png" ><img src="img/slide/shockwaves/slide4.png" /></a>
								</div>
							</div>
							
							<div class="col-lg-12">
								<div class="col-lg-4">
									<a href="img/slide/shockwaves/slide6.png" ><img src="img/slide/shockwaves/slide6.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/shockwaves/slide5.png" ><img src="img/slide/shockwaves/slide5.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/shockwaves/slide7.png" ><img src="img/slide/shockwaves/slide7.png" /></a>
								</div>
							</div>
							
						</div>
					
					</div>
				
				</div>
			
			</div>
			
		</script>
		
		
		
		<script type="text/template" id="tpl_work7">
			
			<div class="row">
		
				<div class="col-lg-12">
					
					<div class="panel panel-danger">
				
						<div class="panel-heading">
							<h3 class="panel-title">Mary Glasgow magazines & Scholastic Maths readers</h3>
						</div>
			
						<div class="panel-body">
							
							<div class="col-lg-12">
								<p>An extension of the flip book engine to create more flip books, containing more variety of interactive elements (drag and drop, MCQ), and
								for younger children the maths reader engine includes auto-reading out of the text on each page.</p>
							</div>
							
							<div class="col-lg-12">
								
								<div class="col-lg-4">
									<a href="img/slide/maryg/slide2.png" ><img src="img/slide/maryg/slide2.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/maryg/slide3.png" ><img src="img/slide/maryg/slide3.png" /></a>
								</div>
								<div class="col-lg-4">
									<a href="img/slide/mathsreaders/slide1.png" ><img src="img/slide/mathsreaders/slide1.png" /></a>
								</div>
							
							</div>
							
						</div>
					
					</div>
				
				</div>
			
			</div>
			
		</script>
		
		
		
		
		<script type="text/template" id="tpl_other3">
			
					
			<div class="row">
			
				<div class="col-lg-12">
					
					<div class="bs-component">
						
						<div class="panel panel-warning">
						
							<div class="panel-heading">
								<h3 class="panel-title">Power 4-in-a-row</h3>
							</div>
				
							<div class="panel-body">
								
								<p>Power 4-in-a-row is a native Android app, written in Java.  It is based on Connect 4, but with the addition of a yellow power ball that either player can use to complete his/her line</p>
								
								<img src="img/workother/connect4_screen.jpg" width="200"/>
								
								<img src="img/workother/connect4_screen2.jpg"  width="200"/>
								
								<img src="img/workother/connect4_screen3.jpg"  width="200"/>
								
								<div class="clear"></div>
								
								<div class="gitsrc">
									<p><a href="https://github.com/jgrindall/Android-Power-4-in-a-row">Source code (github)</a></p>
								</div>
								
								<div class="gplay">
									<p><a href="https://play.google.com/store/apps/details?id=com.jgrindall.android.connect4&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5qZ3JpbmRhbGwuYW5kcm9pZC5jb25uZWN0NCJd">Find it on Google Play</a></p>
								</div>
								
								<p>Features:</p>
								
								<ul style="margin-left:80px;">
									
									<li>One or two player</li>
									<li>Three levels of difficulty</li>
									<li>Optional powerball</li>
									<li>Native android app</li>
									<li>Undo</li>
									<li>AI</li>
									
								</ul>
								
								<div class="btn-group">
											
									<button type="button" class="btn btn-primary">Primary</button>
									
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
						  
									<ul class="dropdown-menu">
										
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									
									</ul>
								
								</div>
								
							</div>
						
						</div>
						
					</div>
					
				</div>
			
			</div>
				
			<!--flash stuff Msc, science sims, sam learning -->
			
		</script>
		
		
		
		
		<script type="text/template" id="tpl_other2">
			
			<div class="row">
					
				<div class="col-lg-12">
					
					<div class="bs-component">
		
						<div class="panel panel-warning">
						
							<div class="panel-heading">
								<h3 class="panel-title">iChing</h3>
							</div>
				
							<div class="panel-body">
								
								<img src="img/workother/ching1.jpg" width="300"/>
								<img src="img/workother/ching2.jpg"  width="300"/>
								
								<div class="clear"></div>
								
								<div class="gitsrc">
									<p><a href="https://github.com/jgrindall/iChing">Source code (github)</a></p>
								</div>
								
								<div class="gplay">
									<p><a href="https://play.google.com/store/apps/details?id=com.jgrindall.android.connect4&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5qZ3JpbmRhbGwuYW5kcm9pZC5jb25uZWN0NCJd">Find it on Google Play</a></p>
								</div>
								
							</div>
						
						</div>
						
					</div>
				
				</div>
		
			</div>
			
		</script>
		
		
		
		
		<script type="text/template" id="tpl_otherpage">
		
			<div class="container">
			
				<div class="page-header" id="other">
					
				</div>
			
			</div>

		</script>

		
		
		
		<script type="text/template" id="tpl_workpage">
		
			<div class="container">
			
				<div class="page-header" id="work">
				
				</div>
			
			</div>

		</script>

		
		
		
		
		<script type="text/template" id="tpl_homepage">
		
			<div class="container">
				
				<div class="page-header" >
				
				</div>
			
			</div>

		</script>
		
	
	</head>
	
	
	
	<body>
	
		<script src="js/main-min.js"></script>
		
		<div id="header"></div>
		<div id="container"></div>
		<div id="footer"></div>
		
	</body>
  
</html>



