@media print{
	*{
		-webkit-print-color-adjust: exact !important;
		font-family: "Times New Roman", Times, Baskerville, Georgia, serif !important;
		font-size:12px !important;
	}
	html, body, p{
		font-family: "Times New Roman", Times, Baskerville, Georgia, serif !important;
		font-size:12px !important;
	}
	img{
		display:none !important;
	}
	.panel  > .panel-heading {
		color: white !important;
		border-color: transparent !important;
		-webkit-print-color-adjust: exact !important;
		border-radius:4px !important;
		padding:3px !important;
	}
	.panel  > .panel-heading > h3{
		margin:10px;
	}
	.row:nth-child(1) .panel > .panel-heading{
		background-color: #158CBA !important;
		background: #158CBA !important;
	}
	.row:nth-child(2) .panel > .panel-heading{
		background-color: #28B62C !important;
	}
	.row:nth-child(3) .panel > .panel-heading{
		background-color: #ff4136 !important;
	}
	.row:nth-child(4) .panel > .panel-heading{
		background-color: #ff4136 !important;
	}
	.container > .page-header {
		margin-top: 15px !important;
	}
	#header{
		display:none !important;
	}
	.panel  > .panel-heading a{
		color:#fff;
		text-decoration:none;
	}
	table.bio td{
		padding:5px !important;
	}
	table.bio td:first-child{
		padding-right:10px !important;
	}
	#footer p{
		text-align: center;
		font-size: 85%;
		margin-top:10px;
		color: #999;
	}
	h3, h4{
		color:#888;
		margin-top:16px;
		margin-bottom:16px;
		font-size:130% !important;
		font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	a {
		color: #158CBA;
		text-decoration: none;
	}
	body{
		margin: 20px !important;
	}
	#contact .btn-primary{
		display:none;
	}
	a.form, a.form img{
		display:none
	}
	p{
		color:black !important;
	}
	#footer{
		display:none;
	}
}
