.container > .page-header{
	margin-top:95px;
}
#videos{
	padding-top:40px;
}
p{
	color:#111;
}
.alert p{
	color:white;
}
h4{
	font-size:19px;
	color:#555;
}
#intro{
	margin-top:120px;
}
#workbox{
	padding-top:40px;
}
div.tiled img{
	padding:10px;
}
#intro p{
	font-size:15px;
	text-align:justify;
	margin: 15px;
}
#workbox p{
	text-align:justify;
	margin: 10px;
}
#videos span.glyphicon, #other span.glyphicon{
	font-size: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	color:#eee;
	opacity:0.5;
	margin-left: -29px;
	margin-top: -38px;
	cursor:pointer;
	cursor:hand;
}
#videos span.glyphicon:hover, #other span.glyphicon:hover{
	opacity:0.9;
	color:#aaa;
}
#videos img, #work img,  #other img{
	width:100%;
	cursor:pointer;
	cursor:hand;
}
#videos #logos img{
	margin-top:8px;
	margin-bottom:8px;
	width:100%;
}

.navbar .navbar-brand{
	height: 70px;
	padding-top: 24px;
}
.navbar .navbar-brand span{
	margin-left: 10px;
}

.navbar a.navbar-brand.hidden-lg.hidden-md.hidden-sm span{
	font-size:30px;	
	color:black;
}
.navbar a.navbar-brand.hidden-lg.hidden-md.hidden-xs span{
	font-size:20px;
	color:black;	
}
.navbar a.navbar-brand.hidden-lg.hidden-sm.hidden-xs span{
	font-size:24px;	
	color:black;
}
.navbar a.navbar-brand.hidden-xs.hidden-md.hidden-sm span{
	font-size:30px;
	color:black;
}

ul.navbar-nav{
	margin-top: 13px;
}
#work{
	margin-top:95px;
}
ul.features li{
	padding:4px;
}
blockquote p{
	font-size: 13px;
	color: #888 !important;
	text-align: justify;
}
#footer p{
	text-align: center;
	font-size: 85%;
	margin-top:10px;
	color: #999;
}
#footer a{
	color:#6490a0;
}
table.bio td{
	padding:5px;
}
table.bio td:first-child{
	padding-right:10px;
}

#contact h4{
	margin-top:20px;
}
a.form img{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
.carousel-inner .item img{
	margin-left: auto;
	margin-right: auto;	
}

img{
	max-width: 100%;
}
body{
	background-color:#EEE !important;
}